In [157]:
import pandas as pd
import numpy as np

In [158]:
bank_df = pd.read_excel("bank_deposit.xlsx")
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
0,95,retired,divorced,primary,no,2282.0,no,no,telephone,21.0,apr,207.0,17.0,-1.0,0.0,unknown,yes
1,95,retired,married,secondary,no,0.0,no,no,telephone,1.0,oct,215.0,1.0,-1.0,0.0,unknown,no
2,94,retired,divorced,secondary,no,1234.0,no,no,cellular,3.0,mar,212.0,1.0,-1.0,0.0,unknown,no
3,93,retired,married,unknown,no,775.0,no,no,cellular,22.0,jul,860.0,2.0,177.0,7.0,success,yes
4,93,retired,married,unknown,no,775.0,no,no,cellular,4.0,aug,476.0,2.0,13.0,9.0,success,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11217,50,entrepreneur,divorced,tertiary,no,315.0,no,no,cellular,12.0,jul,101.0,2.0,185.0,2.0,failure,no
11218,50,management,married,tertiary,no,2881.0,no,no,cellular,5.0,aug,510.0,2.0,2.0,5.0,other,no
11219,50,technician,divorced,secondary,no,0.0,yes,no,cellular,13.0,aug,120.0,2.0,91.0,6.0,failure,no
11220,50,services,married,secondary,no,2376.0,yes,no,cellular,24.0,sep,395.0,1.0,-1.0,0.0,unknown,yes
11221,50,management,married,tertiary,no,8205.0,yes,no,telephone,25.0,oct,293.0,3.0,508.0,1.0,other,no

In [159]:
# This line is to check NAN values in the DataFrame.
bank_df.isna().sum()
# This line is to check NAN values in the "contact" column.
#bank_df[bank_df["contact"].isna()]

age                      0
job                      0
marital                  6
education               27
default                  6
balance                  6
housing                  6
loan                    12
contact                  6
day                      6
month                    8
duration                 8
campaign                 8
pdays                    8
previous                 6
poutcome                 0
Bank deposit(target)     0
dtype: int64

In [160]:
# Dropped the rows that contained NAN in the contact column.
bank_df= bank_df[bank_df['contact'].notna()]
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
0,95,retired,divorced,primary,no,2282.0,no,no,telephone,21.0,apr,207.0,17.0,-1.0,0.0,unknown,yes
1,95,retired,married,secondary,no,0.0,no,no,telephone,1.0,oct,215.0,1.0,-1.0,0.0,unknown,no
2,94,retired,divorced,secondary,no,1234.0,no,no,cellular,3.0,mar,212.0,1.0,-1.0,0.0,unknown,no
3,93,retired,married,unknown,no,775.0,no,no,cellular,22.0,jul,860.0,2.0,177.0,7.0,success,yes
4,93,retired,married,unknown,no,775.0,no,no,cellular,4.0,aug,476.0,2.0,13.0,9.0,success,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11217,50,entrepreneur,divorced,tertiary,no,315.0,no,no,cellular,12.0,jul,101.0,2.0,185.0,2.0,failure,no
11218,50,management,married,tertiary,no,2881.0,no,no,cellular,5.0,aug,510.0,2.0,2.0,5.0,other,no
11219,50,technician,divorced,secondary,no,0.0,yes,no,cellular,13.0,aug,120.0,2.0,91.0,6.0,failure,no
11220,50,services,married,secondary,no,2376.0,yes,no,cellular,24.0,sep,395.0,1.0,-1.0,0.0,unknown,yes
11221,50,management,married,tertiary,no,8205.0,yes,no,telephone,25.0,oct,293.0,3.0,508.0,1.0,other,no

In [161]:
def quantile_25(bank_df:pd.Series):
    return bank_df.quantile(.25)

def quantile_75(bank_df:pd.Series):
    return bank_df.quantile(.75)

In [162]:
bank_df.pivot_table(values='balance', index=['Bank deposit(target)','loan'], aggfunc=[ quantile_25, np.median, quantile_75,np.max])

                          quantile_25  median quantile_75        amax
                              balance balance     balance     balance
Bank deposit(target) loan
no                   no        111.00   638.0     2007.00  68000000.0
                     yes        16.25   313.0     1137.25     51439.0
yes                  no        346.00  1195.5     2998.25     52587.0
                     yes       104.00   437.5     1745.75      9103.0

Function to update missing values for month, duration, campaign and p-days, based on median

In [163]:
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
0,95,retired,divorced,primary,no,2282.0,no,no,telephone,21.0,apr,207.0,17.0,-1.0,0.0,unknown,yes
1,95,retired,married,secondary,no,0.0,no,no,telephone,1.0,oct,215.0,1.0,-1.0,0.0,unknown,no
2,94,retired,divorced,secondary,no,1234.0,no,no,cellular,3.0,mar,212.0,1.0,-1.0,0.0,unknown,no
3,93,retired,married,unknown,no,775.0,no,no,cellular,22.0,jul,860.0,2.0,177.0,7.0,success,yes
4,93,retired,married,unknown,no,775.0,no,no,cellular,4.0,aug,476.0,2.0,13.0,9.0,success,yes

In [164]:
def replace_w_median(bank_df):
    # find median for columns duration, campaign, pdays, and replace with mode for month
    bank_df['duration'].fillna(bank_df['duration'].median(), inplace=True)
    bank_df['campaign'].fillna(bank_df['campaign'].median(), inplace=True)
    bank_df['pdays'].fillna(bank_df['pdays'].median(), inplace=True)
    bank_df['month'] = bank_df['month'].fillna(bank_df['month'].mode()[0])

In [165]:
replace_w_median(bank_df)

C:\Users\gemma\AppData\Local\Temp\ipykernel_23172\1286858643.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['duration'].fillna(bank_df['duration'].median(), inplace=True)
C:\Users\gemma\AppData\Local\Temp\ipykernel_23172\1286858643.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['campaign'].fillna(bank_df['campaign'].median(), inplace=True)
C:\Users\gemma\AppData\Local\Temp\ipykernel_23172\1286858643.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['pdays'].fillna(bank_df['pdays'].median(), inplace=True)
C:\Users\gemma\AppData\Local\Temp\ipykernel_23172\1286858643.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['month'] = bank_df['month'].fillna(bank_df['month'].mode()[0])

In [122]:
bank_df[bank_df.isna().any(axis=1)]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
21,86,retired,divorced,NaN,no,0.0,no,no,telephone,26.0,aug,189.0,1.0,-1.0,0.0,unknown,yes
22,86,retired,divorced,NaN,no,157.0,no,no,telephone,7.0,sep,147.0,1.0,-1.0,0.0,unknown,no
23,86,retired,single,NaN,no,614.0,no,no,telephone,9.0,dec,595.0,1.0,-1.0,0.0,unknown,yes
24,86,retired,married,NaN,no,1817.0,no,no,cellular,16.0,mar,272.0,3.0,-1.0,0.0,unknown,no
25,86,retired,married,NaN,no,1503.0,no,no,telephone,18.0,mar,165.0,3.0,101.0,1.0,other,no
26,86,retired,married,NaN,no,5236.0,no,no,telephone,1.0,apr,558.0,2.0,-1.0,0.0,unknown,yes
27,86,retired,married,NaN,no,1255.0,no,no,telephone,14.0,jul,247.0,1.0,180.0,3.0,success,yes
28,86,retired,married,NaN,no,1255.0,no,no,cellular,14.0,oct,192.0,2.0,92.0,4.0,success,no
29,85,retired,married,NaN,no,12114.0,no,no,telephone,12.0,feb,165.0,2.0,-1.0,0.0,unknown,yes
30,85,retired,divorced,NaN,no,7613.0,no,no,cellular,18.0,feb,355.0,3.0,-1.0,0.0,unknown,yes
31,85,retired,married,NaN,no,98.0,no,no,ghjk,30.0,apr,416.0,1.0,-1.0,0.0,unknown,yes
32,85,retired,married,NaN,no,1934.0,no,no,telephone,12.0,jan,140.0,1.0,-1.0,0.0,unknown,no
33,85,retired,married,NaN,no,1255.0,no,no,cellular,15.0,jan,233.0,3.0,-1.0,0.0,unknown,yes
34,84,retired,divorced,NaN,no,639.0,no,no,telephone,18.0,may,353.0,3.0,-1.0,0.0,unknown,yes
35,84,retired,married,NaN,no,1702.0,no,no,telephone,26.0,aug,185.0,1.0,-1.0,0.0,unknown,no
36,84,entrepreneur,married,NaN,no,0.0,no,no,telephone,30.0,sep,992.0,2.0,-1.0,0.0,unknown,yes
37,84,retired,married,NaN,no,1791.0,no,NaN,telephone,30.0,oct,62.0,3.0,-1.0,0.0,unknown,no
38,84,retired,married,NaN,no,81204.0,no,NaN,telephone,28.0,dec,20000000.0,1.0,313.0,2.0,other,yes
39,84,retired,divorced,NaN,no,2619.0,no,NaN,telephone,8.0,feb,145.0,2.0,115.0,2.0,failure,no
40,84,retired,married,NaN,no,81204.0,no,NaN,telephone,1.0,apr,390.0,1.0,94.0,3.0,success,yes
41,84,retired,divorced,NaN,no,639.0,no,NaN,telephone,18.0,may,353.0,3.0,-1.0,0.0,unknown,yes
42,84,retired,divorced,primary,no,1680.0,no,NaN,telephone,6.0,sep,113.0,5.0,97.0,3.0,other,no
232,77,retired,married,secondary,no,4112.0,no,no,telephone,26.0,NaN,176.0,2.0,-1.0,2.0,success,yes
233,77,retired,married,tertiary,no,7802.0,no,no,telephone,1.0,NaN,176.0,2.0,-1.0,0.0,unknown,yes

In [166]:
bank_df.isna().sum()

age                      0
job                      0
marital                  0
education               21
default                  0
balance                  0
housing                  0
loan                     6
contact                  0
day                      0
month                    0
duration                 0
campaign                 0
pdays                    0
previous                 0
poutcome                 0
Bank deposit(target)     0
dtype: int64

In [167]:
bank_df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11216.000000,1.121600e+04,11216.000000,1.121600e+04,11216.000000,11216.000000,11216.000000
mean,56.398449,7.966974e+03,15.786912,2.040340e+03,2.737607,35.111805,0.558934
std,6.118814,6.421456e+05,8.336913,1.888451e+05,2.854173,90.769790,1.741345
min,50.000000,-4.057000e+03,1.000000,0.000000e+00,1.000000,-1.000000,0.000000
25%,52.000000,1.080000e+02,8.000000,1.020000e+02,1.000000,-1.000000,0.000000
50%,55.000000,6.275000e+02,16.000000,1.760000e+02,2.000000,-1.000000,0.000000
75%,58.000000,2.031750e+03,21.000000,3.160000e+02,3.000000,-1.000000,0.000000
max,95.000000,6.800000e+07,31.000000,2.000000e+07,43.000000,792.000000,37.000000