In [1]:
import pandas as pd
import numpy as np

In [2]:
bank_df = pd.read_excel("bank_deposit.xlsx")
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
0,95,retired,divorced,primary,no,2282.0,no,no,telephone,21.0,apr,207.0,17.0,-1.0,0.0,unknown,yes
1,95,retired,married,secondary,no,0.0,no,no,telephone,1.0,oct,215.0,1.0,-1.0,0.0,unknown,no
2,94,retired,divorced,secondary,no,1234.0,no,no,cellular,3.0,mar,212.0,1.0,-1.0,0.0,unknown,no
3,93,retired,married,unknown,no,775.0,no,no,cellular,22.0,jul,860.0,2.0,177.0,7.0,success,yes
4,93,retired,married,unknown,no,775.0,no,no,cellular,4.0,aug,476.0,2.0,13.0,9.0,success,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11217,50,entrepreneur,divorced,tertiary,no,315.0,no,no,cellular,12.0,jul,101.0,2.0,185.0,2.0,failure,no
11218,50,management,married,tertiary,no,2881.0,no,no,cellular,5.0,aug,510.0,2.0,2.0,5.0,other,no
11219,50,technician,divorced,secondary,no,0.0,yes,no,cellular,13.0,aug,120.0,2.0,91.0,6.0,failure,no
11220,50,services,married,secondary,no,2376.0,yes,no,cellular,24.0,sep,395.0,1.0,-1.0,0.0,unknown,yes
11221,50,management,married,tertiary,no,8205.0,yes,no,telephone,25.0,oct,293.0,3.0,508.0,1.0,other,no

In [3]:
# Dropped the rows that contained NAN in the contact column.
bank_df= bank_df[bank_df['contact'].notna()]
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
0,95,retired,divorced,primary,no,2282.0,no,no,telephone,21.0,apr,207.0,17.0,-1.0,0.0,unknown,yes
1,95,retired,married,secondary,no,0.0,no,no,telephone,1.0,oct,215.0,1.0,-1.0,0.0,unknown,no
2,94,retired,divorced,secondary,no,1234.0,no,no,cellular,3.0,mar,212.0,1.0,-1.0,0.0,unknown,no
3,93,retired,married,unknown,no,775.0,no,no,cellular,22.0,jul,860.0,2.0,177.0,7.0,success,yes
4,93,retired,married,unknown,no,775.0,no,no,cellular,4.0,aug,476.0,2.0,13.0,9.0,success,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11217,50,entrepreneur,divorced,tertiary,no,315.0,no,no,cellular,12.0,jul,101.0,2.0,185.0,2.0,failure,no
11218,50,management,married,tertiary,no,2881.0,no,no,cellular,5.0,aug,510.0,2.0,2.0,5.0,other,no
11219,50,technician,divorced,secondary,no,0.0,yes,no,cellular,13.0,aug,120.0,2.0,91.0,6.0,failure,no
11220,50,services,married,secondary,no,2376.0,yes,no,cellular,24.0,sep,395.0,1.0,-1.0,0.0,unknown,yes
11221,50,management,married,tertiary,no,8205.0,yes,no,telephone,25.0,oct,293.0,3.0,508.0,1.0,other,no

In [4]:
def quantile_25(bank_df:pd.Series):
    return bank_df.quantile(.25)

def quantile_75(bank_df:pd.Series):
    return bank_df.quantile(.75)

In [5]:
def replace_w_median(bank_df):
    # find median for columns duration, campaign, pdays, and replace with mode for month
    bank_df['duration'].fillna(bank_df['duration'].median(), inplace=True)
    bank_df['campaign'].fillna(bank_df['campaign'].median(), inplace=True)
    bank_df['pdays'].fillna(bank_df['pdays'].median(), inplace=True)
    bank_df['month'] = bank_df['month'].fillna(bank_df['month'].mode()[0])

In [6]:
replace_w_median(bank_df)

C:\Users\berka\AppData\Local\Temp\ipykernel_24532\1248195655.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['duration'].fillna(bank_df['duration'].median(), inplace=True)
C:\Users\berka\AppData\Local\Temp\ipykernel_24532\1248195655.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['campaign'].fillna(bank_df['campaign'].median(), inplace=True)
C:\Users\berka\AppData\Local\Temp\ipykernel_24532\1248195655.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['pdays'].fillna(bank_df['pdays'].median(), inplace=True)
C:\Users\berka\AppData\Local\Temp\ipykernel_24532\1248195655.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank_df['month'] = bank_df['month'].fillna(bank_df['month'].mode()[0])

In [7]:
bank_df[bank_df.isna().any(axis=1)]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
21,86,retired,divorced,NaN,no,0.0,no,no,telephone,26.0,aug,189.0,1.0,-1.0,0.0,unknown,yes
22,86,retired,divorced,NaN,no,157.0,no,no,telephone,7.0,sep,147.0,1.0,-1.0,0.0,unknown,no
23,86,retired,single,NaN,no,614.0,no,no,telephone,9.0,dec,595.0,1.0,-1.0,0.0,unknown,yes
24,86,retired,married,NaN,no,1817.0,no,no,cellular,16.0,mar,272.0,3.0,-1.0,0.0,unknown,no
25,86,retired,married,NaN,no,1503.0,no,no,telephone,18.0,mar,165.0,3.0,101.0,1.0,other,no
26,86,retired,married,NaN,no,5236.0,no,no,telephone,1.0,apr,558.0,2.0,-1.0,0.0,unknown,yes
27,86,retired,married,NaN,no,1255.0,no,no,telephone,14.0,jul,247.0,1.0,180.0,3.0,success,yes
28,86,retired,married,NaN,no,1255.0,no,no,cellular,14.0,oct,192.0,2.0,92.0,4.0,success,no
29,85,retired,married,NaN,no,12114.0,no,no,telephone,12.0,feb,165.0,2.0,-1.0,0.0,unknown,yes
30,85,retired,divorced,NaN,no,7613.0,no,no,cellular,18.0,feb,355.0,3.0,-1.0,0.0,unknown,yes
31,85,retired,married,NaN,no,98.0,no,no,ghjk,30.0,apr,416.0,1.0,-1.0,0.0,unknown,yes
32,85,retired,married,NaN,no,1934.0,no,no,telephone,12.0,jan,140.0,1.0,-1.0,0.0,unknown,no
33,85,retired,married,NaN,no,1255.0,no,no,cellular,15.0,jan,233.0,3.0,-1.0,0.0,unknown,yes
34,84,retired,divorced,NaN,no,639.0,no,no,telephone,18.0,may,353.0,3.0,-1.0,0.0,unknown,yes
35,84,retired,married,NaN,no,1702.0,no,no,telephone,26.0,aug,185.0,1.0,-1.0,0.0,unknown,no
36,84,entrepreneur,married,NaN,no,0.0,no,no,telephone,30.0,sep,992.0,2.0,-1.0,0.0,unknown,yes
37,84,retired,married,NaN,no,1791.0,no,NaN,telephone,30.0,oct,62.0,3.0,-1.0,0.0,unknown,no
38,84,retired,married,NaN,no,81204.0,no,NaN,telephone,28.0,dec,20000000.0,1.0,313.0,2.0,other,yes
39,84,retired,divorced,NaN,no,2619.0,no,NaN,telephone,8.0,feb,145.0,2.0,115.0,2.0,failure,no
40,84,retired,married,NaN,no,81204.0,no,NaN,telephone,1.0,apr,390.0,1.0,94.0,3.0,success,yes
41,84,retired,divorced,NaN,no,639.0,no,NaN,telephone,18.0,may,353.0,3.0,-1.0,0.0,unknown,yes
42,84,retired,divorced,primary,no,1680.0,no,NaN,telephone,6.0,sep,113.0,5.0,97.0,3.0,other,no

In [8]:
bank_df.isna().sum()

age                      0
job                      0
marital                  0
education               21
default                  0
balance                  0
housing                  0
loan                     6
contact                  0
day                      0
month                    0
duration                 0
campaign                 0
pdays                    0
previous                 0
poutcome                 0
Bank deposit(target)     0
dtype: int64

In [9]:
bank_df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11216.000000,1.121600e+04,11216.000000,1.121600e+04,11216.000000,11216.000000,11216.000000
mean,56.398449,7.966974e+03,15.786912,2.040340e+03,2.737607,35.111805,0.558934
std,6.118814,6.421456e+05,8.336913,1.888451e+05,2.854173,90.769790,1.741345
min,50.000000,-4.057000e+03,1.000000,0.000000e+00,1.000000,-1.000000,0.000000
25%,52.000000,1.080000e+02,8.000000,1.020000e+02,1.000000,-1.000000,0.000000
50%,55.000000,6.275000e+02,16.000000,1.760000e+02,2.000000,-1.000000,0.000000
75%,58.000000,2.031750e+03,21.000000,3.160000e+02,3.000000,-1.000000,0.000000
max,95.000000,6.800000e+07,31.000000,2.000000e+07,43.000000,792.000000,37.000000

In [10]:
bank_pivot=bank_df.pivot_table(values='balance', index=['Bank deposit(target)','loan'], aggfunc=[ quantile_25, np.median, quantile_75,np.max])
bank_pivot

                          quantile_25  median quantile_75        amax
                              balance balance     balance     balance
Bank deposit(target) loan
no                   no        111.00   638.0     2007.00  68000000.0
                     yes        16.25   313.0     1137.25     51439.0
yes                  no        346.00  1195.5     2998.25     52587.0
                     yes       104.00   437.5     1745.75      9103.0

In [11]:
# Droping customer index 38 because it is a potential duplicate with corrupted "duration" value.
bank_df = bank_df.drop(index=38)

In [12]:
#Median1 is the value for Bank deposit=no, loan=no
median1=int(bank_pivot.loc[(["no"],["no"]),(["median"],["balance"])].values[0])
#Median2 is the value for Bank deposit=yes, loan=no
median2=int(bank_pivot.loc[(["yes"],["no"]),(["median"],["balance"])].values[0])

#These filters allows us to check for multiple conditions and change the "loan" column according to these conditions with a .loc method afterwards.
filter1 = (bank_df['loan'].isna()) & (bank_df['Bank deposit(target)']=="no") & (bank_df['balance'] > median1)
bank_df.loc[filter1, "loan"] = "no"
filter2 = (bank_df['loan'].isna()) & (bank_df['Bank deposit(target)']=="no") & (bank_df['balance'] < median1)
bank_df.loc[filter2, "loan"] = "yes"
filter3 = (bank_df['loan'].isna()) & (bank_df['Bank deposit(target)']=="yes") & (bank_df['balance'] > median2)
bank_df.loc[filter3, "loan"] = "no"
filter4 = (bank_df['loan'].isna()) & (bank_df['Bank deposit(target)']=="yes") & (bank_df['balance'] < median2)
bank_df.loc[filter4, "loan"] = "yes"

In [13]:
#Changed NAN into unknown in the "education" column.
bank_df["education"] = bank_df["education"].fillna("unknown")

In [14]:
#Checking for duplicate rows
bank_df[bank_df.duplicated(keep=False)].sort_values(by=['balance'], ascending = True)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
3713,57,self-employed,married,tertiary,yes,-3313.0,yes,yes,unknown,9.0,may,153.0,1.0,-1.0,0.0,unknown,no
3753,57,self-employed,married,tertiary,yes,-3313.0,yes,yes,unknown,9.0,may,153.0,1.0,-1.0,0.0,unknown,no
9209,51,entrepreneur,married,secondary,yes,-2082.0,no,yes,cellular,28.0,jul,123.0,6.0,-1.0,0.0,unknown,no
9647,51,entrepreneur,married,secondary,yes,-2082.0,no,yes,cellular,28.0,jul,123.0,6.0,-1.0,0.0,unknown,no
8203,52,management,married,tertiary,no,-1224.0,yes,no,cellular,7.0,may,253.0,4.0,-1.0,0.0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,75,retired,married,secondary,no,26452.0,no,no,telephone,15.0,jul,219.0,2.0,-1.0,0.0,unknown,no
3944,57,technician,married,tertiary,no,27069.0,no,yes,unknown,20.0,jun,174.0,3.0,-1.0,0.0,unknown,no
3697,57,technician,married,tertiary,no,27069.0,no,yes,unknown,20.0,jun,174.0,3.0,-1.0,0.0,unknown,no
1356,60,retired,married,primary,no,71188.0,no,no,cellular,6.0,oct,205.0,1.0,-1.0,0.0,unknown,no
1881,60,retired,married,primary,no,71188.0,no,no,cellular,6.0,oct,205.0,1.0,-1.0,0.0,unknown,no

In [15]:
# Drop all duplicates in the DataFrame
bank_df = bank_df.drop_duplicates()
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
0,95,retired,divorced,primary,no,2282.0,no,no,telephone,21.0,apr,207.0,17.0,-1.0,0.0,unknown,yes
1,95,retired,married,secondary,no,0.0,no,no,telephone,1.0,oct,215.0,1.0,-1.0,0.0,unknown,no
2,94,retired,divorced,secondary,no,1234.0,no,no,cellular,3.0,mar,212.0,1.0,-1.0,0.0,unknown,no
3,93,retired,married,unknown,no,775.0,no,no,cellular,22.0,jul,860.0,2.0,177.0,7.0,success,yes
4,93,retired,married,unknown,no,775.0,no,no,cellular,4.0,aug,476.0,2.0,13.0,9.0,success,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11215,50,technician,married,tertiary,no,0.0,no,yes,cellular,6.0,jul,257.0,1.0,85.0,7.0,failure,no
11217,50,entrepreneur,divorced,tertiary,no,315.0,no,no,cellular,12.0,jul,101.0,2.0,185.0,2.0,failure,no
11219,50,technician,divorced,secondary,no,0.0,yes,no,cellular,13.0,aug,120.0,2.0,91.0,6.0,failure,no
11220,50,services,married,secondary,no,2376.0,yes,no,cellular,24.0,sep,395.0,1.0,-1.0,0.0,unknown,yes
11221,50,management,married,tertiary,no,8205.0,yes,no,telephone,25.0,oct,293.0,3.0,508.0,1.0,other,no

In [16]:
#TEST CODE TO CHECK FOR OUTLIERS
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 500)

bank_df.head(100)

     age           job   marital  education default    balance housing loan    contact   day month  duration  campaign  pdays  previous poutcome Bank deposit(target)
0     95       retired  divorced    primary      no     2282.0      no   no  telephone  21.0   apr     207.0      17.0   -1.0       0.0  unknown                  yes
1     95       retired   married  secondary      no        0.0      no   no  telephone   1.0   oct     215.0       1.0   -1.0       0.0  unknown                   no
2     94       retired  divorced  secondary      no     1234.0      no   no   cellular   3.0   mar     212.0       1.0   -1.0       0.0  unknown                   no
3     93       retired   married    unknown      no      775.0      no   no   cellular  22.0   jul     860.0       2.0  177.0       7.0  success                  yes
4     93       retired   married    unknown      no      775.0      no   no   cellular   4.0   aug     476.0       2.0   13.0       9.0  success                  yes
5     92       retired   married    unknown      no      775.0      no   no   cellular  22.0   oct     313.0       3.0   -1.0       0.0  unknown                  yes
6     92       retired   married    unknown      no      775.0      no   no   cellular  26.0   jan     164.0       4.0   96.0       3.0  success                  yes
7     90       retired  divorced  secondary      no        1.0      no   no   cellular  13.0   feb     152.0       3.0   -1.0       0.0  unknown                  yes
8     90       retired  divorced    primary      no      712.0      no   no  telephone   3.0   mar     557.0       1.0   -1.0       0.0  unknown                  yes
9     89       retired   married   tertiary      no      553.0      no   no  telephone  19.0   aug    2027.0       5.0   -1.0       0.0  unknown                   no
10    89       retired  divorced    primary      no     1323.0      no   no  telephone  29.0   dec     207.0       4.0  189.0       1.0    other                   no
11    89       retired   married    primary      no        0.0      no   no  telephone  27.0   sep     157.0       5.0   -1.0       0.0  unknown                   no
12    88       retired   married    primary      no      648.0      no   no  telephone   3.0   sep     318.0       1.0   -1.0       0.0  unknown                   no
13    88       retired   married  secondary      no      433.0      no   no  telephone  15.0   sep     161.0       1.0  274.0       1.0  failure                   no
14    87       retired   married    primary      no      230.0      no   no   cellular  30.0   oct     144.0       1.0   -1.0       0.0  unknown                  yes
15    87       retired  divorced    primary      no     6746.0      no   no  telephone  21.0   oct     749.0       1.0   -1.0       0.0  unknown                  yes
17    87       retired   married  secondary      no  1000000.0      no   no  telephone  15.0   dec     150.0       1.0   -1.0       0.0  unknown                   no
18    87       retired   married    primary      no     2190.0      no   no  telephone  12.0   jan     512.0       2.0   -1.0       0.0  unknown                  yes
19    86       retired   married  secondary      no     1503.0      no   no  telephone  18.0   mar     165.0       3.0  101.0       1.0    other                   no
20    86       retired   married    primary      no        0.0      no   no   cellular  15.0   apr     141.0      12.0   -1.0       0.0  unknown                   no
21    86       retired  divorced    unknown      no        0.0      no   no  telephone  26.0   aug     189.0       1.0   -1.0       0.0  unknown                  yes
22    86       retired  divorced    unknown      no      157.0      no   no  telephone   7.0   sep     147.0       1.0   -1.0       0.0  unknown                   no
23    86       retired    single    unknown      no      614.0      no   no  telephone   9.0   dec     595.0       1.0   -1.0       0.0  unknown                  yes
24    86       retired   married    unknown      no     1817.0      no   no   cellular  16.0   mar     272.0       3.0   -1.0       0.0  unknown                   no
25    86       retired   married    unknown      no     1503.0      no   no  telephone  18.0   mar     165.0       3.0  101.0       1.0    other                   no
26    86       retired   married    unknown      no     5236.0      no   no  telephone   1.0   apr     558.0       2.0   -1.0       0.0  unknown                  yes
27    86       retired   married    unknown      no     1255.0      no   no  telephone  14.0   jul     247.0       1.0  180.0       3.0  success                  yes
28    86       retired   married    unknown      no     1255.0      no   no   cellular  14.0   oct     192.0       2.0   92.0       4.0  success                   no
29    85       retired   married    unknown      no    12114.0      no   no  telephone  12.0   feb     165.0       2.0   -1.0       0.0  unknown                  yes
30    85       retired  divorced    unknown      no     7613.0      no   no   cellular  18.0   feb     355.0       3.0   -1.0       0.0  unknown                  yes
31    85       retired   married    unknown      no       98.0      no   no       ghjk  30.0   apr     416.0       1.0   -1.0       0.0  unknown                  yes
32    85       retired   married    unknown      no     1934.0      no   no  telephone  12.0   jan     140.0       1.0   -1.0       0.0  unknown                   no
33    85       retired   married    unknown      no     1255.0      no   no   cellular  15.0   jan     233.0       3.0   -1.0       0.0  unknown                  yes
34    84       retired  divorced    unknown      no      639.0      no   no  telephone  18.0   may     353.0       3.0   -1.0       0.0  unknown                  yes
35    84       retired   married    unknown      no     1702.0      no   no  telephone  26.0   aug     185.0       1.0   -1.0       0.0  unknown                   no
36    84  entrepreneur   married    unknown      no        0.0      no   no  telephone  30.0   sep     992.0       2.0   -1.0       0.0  unknown                  yes
37    84       retired   married    unknown      no     1791.0      no   no  telephone  30.0   oct      62.0       3.0   -1.0       0.0  unknown                   no
39    84       retired  divorced    unknown      no     2619.0      no   no  telephone   8.0   feb     145.0       2.0  115.0       2.0  failure                   no
40    84       retired   married    unknown      no    81204.0      no   no  telephone   1.0   apr     390.0       1.0   94.0       3.0  success                  yes
41    84       retired  divorced    unknown      no      639.0      no  yes  telephone  18.0   may     353.0       3.0   -1.0       0.0  unknown                  yes
42    84       retired  divorced    primary      no     1680.0      no   no  telephone   6.0   sep     113.0       5.0   97.0       3.0    other                   no
43    84       retired   married   tertiary      no     4761.0      no   no  telephone   9.0   sep    1405.0       1.0   92.0       3.0  failure                  yes
44    83       retired   married       hjkl      no        0.0      no   no   cellular  18.0   mar     140.0      10.0   -1.0       0.0  unknown                   no
45    83       retired   married    primary      no      425.0      no   no  telephone  22.0   jun     883.0       1.0  140.0       1.0  failure                  yes
46    83       retired  divorced    primary      no        0.0      no   no  telephone  31.0   may     664.0       1.0   77.0       3.0  success                   no
47    83       retired  divorced    primary      no     1097.0      no   no  telephone   5.0   mar     181.0       1.0   -1.0       0.0  unknown                  yes
48    83       retired   married    primary      no      425.0      no   no  telephone   2.0   feb     912.0       1.0   -1.0       0.0  unknown                   no
49    83       retired   married   tertiary      no     6236.0      no   no   cellular   2.0   feb     283.0       2.0   -1.0       0.0  unknown                   no
50    83       retired    single    primary      no     3349.0      no   no  telephone  12.0   feb      89.0       1.0   -1.0       0.0  unknown                   no
52    83       retired   married  secondary      no        0.0      no   no   cellular  18.0   mar     140.0      10.0   -1.0       0.0  unknown                   no
53    83       retired  divorced    primary      no       46.0      no   no   cellular  25.0   mar     115.0       1.0   -1.0       0.0  unknown                  yes
55    83       retired   married   tertiary      no     6236.0      no   no   cellular  11.0   aug     155.0       1.0  190.0       2.0  failure                   no
56    83       retired  divorced    primary      no        0.0      no   no  telephone   3.0   sep     225.0       1.0   -1.0       0.0  unknown                   no
57    83       retired   married    primary      no      425.0      no   no  telephone  22.0   sep     773.0       1.0   92.0       2.0  success                  yes
58    83       retired   married    unknown      no     4216.0      no   no   cellular  12.0   oct      92.0       1.0   -1.0       0.0  unknown                   no
59    83       retired   married   tertiary      no     6236.0      no   no   cellular  12.0   oct     766.0       1.0   62.0       3.0  failure                   no
60    83       retired    single    primary      no     1965.0      no   no  telephone  13.0   oct    1003.0       3.0   -1.0       0.0  unknown                  yes
61    83       retired  divorced    primary      no     2619.0      no   no  telephone  16.0   oct     181.0       2.0   -1.0       0.0  unknown                   no
62    83       retired  divorced    primary      no       20.0      no   no   cellular  27.0   nov      65.0       3.0   -1.0       0.0  unknown                   no
63    83       retired   married   tertiary      no     4761.0      no   no  telephone   8.0   mar     659.0       1.0   -1.0       0.0  unknown                  yes
64    83       retired   married  secondary      no        0.0      no   no  telephone   7.0   may     201.0       2.0  268.0       2.0  failure                   no
66    83       retired   married   tertiary      no     4761.0      no   no  telephone   9.0   jun     294.0       2.0   93.0       1.0  success                   no
67    83     housemaid  divorced    primary      no     5944.0      no   no   cellular  30.0   jul     200.0       3.0   -1.0       0.0  unknown                   no
68    83     housemaid   married    primary      no     2140.0      no   no   cellular   6.0   sep     109.0       3.0  276.0       8.0    other                   no
69    83       retired  divorced    primary      no     4565.0      no   no   cellular  13.0   sep     175.0       2.0   -1.0       0.0  unknown                   no
70    82       retired   married   tertiary      no      278.0      no   no   cellular  16.0   feb     223.0       7.0   -1.0       0.0  unknown                   no
71    82     housemaid   married    primary      no     2140.0      no   no  telephone  14.0   apr     118.0       6.0   -1.0       0.0  unknown                   no
72    82       retired   married    unknown      no      211.0      no   no  telephone  22.0   apr     195.0       3.0   -1.0       0.0  unknown                   no
73    82       retired   married    primary      no     8603.0      no   no   cellular   7.0   jul     429.0       1.0   -1.0       0.0  unknown                  yes
74    82       retired   married  secondary      no        0.0      no   no  telephone  12.0   aug     150.0       2.0   -1.0       0.0  unknown                   no
75    82       retired   married  secondary      no      276.0      no   no  telephone  17.0   aug     199.0       1.0   -1.0       0.0  unknown                  yes
76    82       retired   married    primary      no      103.0      no   no   cellular   1.0   sep     368.0       1.0   -1.0       0.0  unknown                   no
77    82       unknown  divorced    unknown      no        0.0      no   no  telephone   9.0   sep     277.0       5.0   -1.0       0.0  unknown                   no
78    82       retired   married    primary      no     8603.0      no   no   cellular  22.0   oct     306.0       3.0  107.0       1.0  success                  yes
79    82     housemaid  divorced    primary      no     1381.0      no   no   cellular  27.0   oct     156.0       1.0   -1.0       0.0  unknown                   no
80    82       retired  divorced   tertiary      no        0.0      no   no  telephone  12.0   nov     226.0       1.0   -1.0       0.0  unknown                  yes
81    82     housemaid  divorced    primary      no     1381.0      no   no   cellular  28.0   jan      86.0       3.0   93.0       1.0  failure                   no
82    82       retired   married  secondary      no      121.0      no   no  telephone  19.0   feb     330.0       1.0   -1.0       0.0  unknown                  yes
83    82       retired  divorced    primary      no        0.0      no   no  telephone  15.0   mar     506.0       2.0  195.0       1.0    other                  yes
84    82       retired  divorced    primary      no     1419.0      no   no  telephone  26.0   mar     139.0       1.0   -1.0       0.0  unknown                   no
85    82       retired   married    primary      no      243.0      no   no   cellular  26.0   jul     275.0       1.0  180.0       2.0  success                  yes
86    82     housemaid  divorced    primary      no     1381.0      no   no   cellular  28.0   jul     844.0       5.0  181.0       4.0  failure                  yes
87    82       retired  divorced    primary      no        0.0      no   no   cellular   6.0   aug     381.0       3.0  295.0       1.0  failure                   no
88    82       retired  divorced    primary      no      928.0      no   no  telephone  23.0   sep     217.0       2.0  188.0       3.0    other                   no
89    81       retired   married  secondary      no        1.0      no   no   cellular  19.0   aug      65.0       5.0   -1.0       0.0  unknown                   no
90    81       retired   married    primary      no      122.0      no   no  telephone  23.0   apr     201.0       1.0   -1.0       0.0  unknown                   no
91    81    management   married   tertiary      no        0.0      no   no   cellular   7.0   jul     170.0       1.0   -1.0       0.0  unknown                   no
92    81       retired   married    primary      no        0.0      no   no  telephone  11.0   aug     198.0       1.0   -1.0       0.0  unknown                   no
93    81       retired  divorced    primary      no     4321.0      no   no   cellular  11.0   aug     163.0       3.0   -1.0       0.0  unknown                   no
95    81       retired  divorced    primary      no      519.0      no   no  telephone   9.0   sep     488.0       1.0   -1.0       0.0  unknown                   no
96    81       retired  divorced    primary      no        0.0      no   no  telephone  15.0   oct     172.0       1.0   -1.0       0.0  unknown                   no
97    81       retired  divorced    unknown      no        0.0      no   no  telephone  16.0   oct     128.0       1.0   -1.0       0.0  unknown                   no
98    81       retired   married    primary      no      243.0      no   no   cellular  27.0   oct     131.0       1.0   -1.0       0.0  unknown                  yes
99    81       retired  divorced    unknown      no     9224.0      no   no  telephone   9.0   nov     235.0       2.0   -1.0       0.0  unknown                   no
100   81       retired   married    primary      no     5220.0      no   no  telephone  13.0   nov     135.0       1.0   94.0       2.0    other                  yes
101   81       retired   married  secondary      no       93.0      no   no   cellular   7.0   dec     164.0       1.0   -1.0       0.0  unknown                   no
102   81       retired  divorced  secondary      no      452.0      no   no  telephone  16.0   dec     443.0       1.0   -1.0       0.0  unknown                  yes
103   81       retired  divorced   tertiary      no        0.0      no   no   cellular  14.0   jan     357.0       1.0   -1.0       0.0  unknown                   no
104   81       retired   married    primary      no      243.0      no   no   cellular  27.0   jan     340.0       1.0   92.0       1.0  success                  yes
105   81       retired   married    primary      no     1154.0      no   no  telephone  17.0   sep     231.0       1.0   -1.0       0.0  unknown                  yes

In [17]:
#Data type correction from float64 to int64.
list_of_floats_to_integer = ['day', 'duration', 'campaign', 'pdays', 'previous']

for i in list_of_floats_to_integer:
    bank_df[i] = bank_df[i].astype(np.int64)

In [18]:
#Fixed weird cells in education and contact
bank_df.loc[bank_df["education"]=="hjkl", "education"] = "unknown"
bank_df.loc[bank_df["contact"]=="ghjk", "contact"] = "telephone"

In [19]:
## define iqr for each numerical column - just for manually looking at outliers based on IQR, used for eventual decision and table making

Q1_bal=bank_df['balance'].quantile(0.25)
Q3_bal=bank_df['balance'].quantile(0.75)
IQR_bal=Q3_bal-Q1_bal
lo_bal=Q1_bal-(IQR_bal*10)
up_bal=Q3_bal+(IQR_bal*10)


Q1_day=bank_df['day'].quantile(0.25)
Q3_day=bank_df['day'].quantile(0.75)
IQR_day=Q3_day-Q1_day
lo_day= Q1_day-(IQR_day*10)
up_day=Q3_day+(IQR_day*10)

Q1_dur=bank_df['duration'].quantile(0.25)
Q3_dur=bank_df['duration'].quantile(0.75)
IQR_dur=Q3_dur-Q1_dur
lo_dur=Q1_dur-(IQR_dur*10)
up_dur=Q3_dur+(IQR_dur*10)

Q1_camp=bank_df['campaign'].quantile(0.25)
Q3_camp=bank_df['campaign'].quantile(0.75)
IQR_camp=Q3_camp-Q1_camp
lo_camp=Q1_camp-IQR_camp*1.5
up_camp=Q3_camp+IQR_camp*1.5


Q1_pday=bank_df['pdays'].quantile(0.25)
Q3_pday=bank_df['pdays'].quantile(0.75)
IQR_pday=Q3_pday-Q1_pday
lo_pday=Q1_pday-(IQR_pday*15)
up_pday=Q3_pday+(IQR_pday*15)


Q1_prev=bank_df['previous'].quantile(0.25)
Q3_prev=bank_df['previous'].quantile(0.75)
IQR_prev=Q3_prev-Q1_prev
lo_pre=Q1_prev-(IQR_prev*15)
up_prev=Q3_prev+(IQR_prev*15)

pd.set_option('display.max_rows', None)

# outliers balance
bank_df.loc[(bank_df['balance']<lo_bal) | (bank_df['balance']>up_bal)]

#outliers days

#bank_df.loc[(bank_df['day']<lo_day) | (bank_df['day']>up_day)]

#outliers campaign
#bank_df.loc[(bank_df['campaign']<lo_camp) | (bank_df['campaign']>up_camp)]
# nuissance calls should be flagged, not leading to success
# flag max number of calls per succesful bid

#outliers pday
#bank_df.loc[(bank_df['pdays']<lo_pday) | (bank_df['pdays']>up_pday)]

#outliers prev
#bank_df.loc[(bank_df['previous']<lo_prev) | (bank_df['previous']>up_prev)]

#outliers duration
#bank_df.loc[(bank_df['duration']<lo_dur) | (bank_df['duration']>up_dur)]
    #nythin up to an hour is completely reasonable

       age            job   marital  education default     balance housing loan    contact  day month  duration  campaign  pdays  previous poutcome Bank deposit(target)
17      87        retired   married  secondary      no   1000000.0      no   no  telephone   15   dec       150         1     -1         0  unknown                   no
40      84        retired   married    unknown      no     81204.0      no   no  telephone    1   apr       390         1     94         3  success                  yes
231     77        retired   married    primary      no  68000000.0      no   no  telephone   27   nov       341         4     94         3  failure                   no
239     77        retired   married    primary      no     29340.0      no   no   cellular   15   mar       257         1     91         2    other                  yes
295     75        retired   married  secondary      no     26452.0      no   no  telephone   15   jul       219         2     -1         0  unknown                   no
316     75        retired  divorced    primary      no     37127.0      no   no   cellular   11   feb       505         1     -1         0  unknown                   no
370     74        retired  divorced    primary      no     29080.0      no   no   cellular   30   jun       301         5     93         4    other                  yes
534     71        retired   married  secondary      no     29941.0      no   no  telephone   18   jun        80         1     71         3    other                   no
626     69        retired   married  secondary      no     21446.0      no   no  telephone   15   apr       358         2     -1         0  unknown                   no
632     69       services   married    unknown      no     23592.0      no   no   cellular    3   jul       837         3     -1         0  unknown                   no
878     65        retired   married  secondary      no     23421.0      no   no   cellular    2   feb       432         1     -1         0  unknown                   no
1050    63        retired   married  secondary      no     23047.0      no   no   cellular   17   jun       530         1    139         2    other                   no
1205    61        retired   married   tertiary      no     32685.0      no   no   cellular    2   mar      1447         2     -1         0  unknown                  yes
1229    61  self-employed  divorced   tertiary      no     52587.0      no   no   cellular   10   aug       290         1     -1         0  unknown                  yes
1281    61  self-employed  divorced   tertiary      no     52587.0      no   no   cellular   15   feb       394         3    189         1  success                  yes
1356    60        retired   married    primary      no     71188.0      no   no   cellular    6   oct       205         1     -1         0  unknown                   no
1465    60        retired   married    primary      no     22018.0      no   no    unknown    6   jun       177         2     -1         0  unknown                   no
1858    60    blue-collar   married    primary      no     29184.0      no   no  telephone   15   jun        94         2     -1         0  unknown                   no
2147    59      housemaid  divorced  secondary      no     45141.0      no   no    unknown    6   jun        42         1     -1         0  unknown                   no
2397    59         admin.   married    unknown      no     64343.0      no   no   cellular    6   aug        45         4     -1         0  unknown                   no
2434    59        retired   married  secondary      no     25947.0      no   no   cellular   13   aug       292         2     -1         0  unknown                   no
2513    59  self-employed   married   tertiary      no     34247.0     yes   no   cellular   17   nov        66         2     -1         0  unknown                   no
2527    59      housemaid    single  secondary      no     26172.0      no   no   cellular   18   nov        54         2     -1         0  unknown                   no
2536    59        retired   married  secondary      no     32948.0      no   no   cellular   19   nov       243         1    174         2  failure                   no
2547    59     management   married   tertiary      no     98417.0      no   no  telephone   20   nov       145         5     -1         0  unknown                   no
2566    59        retired   married   tertiary      no     41242.0      no   no   cellular   21   nov       161         1     -1         0  unknown                   no
2609    59     unemployed  divorced  secondary      no     44134.0      no   no   cellular    3   feb       117         1     -1         0  unknown                   no
2967    58        retired   married  secondary      no     32948.0      no   no    unknown   29   may       364         2     -1         0  unknown                   no
3010    58   entrepreneur   married    primary      no     52499.0      no   no    unknown    6   jun       198         2     -1         0  unknown                   no
3335    58     management  divorced   tertiary      no     26254.0     yes   no    unknown   21   oct        49         1     -1         0  unknown                   no
3400    58     management  divorced   tertiary      no     26254.0     yes   no   cellular   21   nov        53         1     31         1  failure                   no
3456    58     management  divorced   tertiary      no     26831.0      no   no   cellular   11   feb        56        18     -1         0  unknown                   no
3527    58  self-employed   married  secondary      no     28318.0     yes   no   cellular   14   may       168         2     -1         0  unknown                   no
3697    57     technician   married   tertiary      no     27069.0      no  yes    unknown   20   jun       174         3     -1         0  unknown                   no
4277    57     technician   married  secondary      no     29207.0     yes   no  telephone   21   nov       232         2     -1         0  unknown                   no
4281    57     management   married   tertiary      no     24498.0      no   no   cellular   21   nov       161         5     -1         0  unknown                   no
4604    56     management   married   tertiary      no     21664.0      no   no    unknown   17   jun       214         8     -1         0  unknown                   no
4609    56       services   married  secondary      no     22196.0     yes   no   cellular   21   nov       189         1     -1         0  unknown                   no
4780    56   entrepreneur  divorced   tertiary      no     22946.0      no   no    unknown   17   jun        75         3     -1         0  unknown                   no
4844    56    blue-collar   married  secondary      no     58932.0      no   no  telephone    7   jul       339         2     -1         0  unknown                   no
4848    56   entrepreneur   married   tertiary      no     51439.0      no  yes   cellular    8   jul       325         1     -1         0  unknown                   no
4976    56     management   married   tertiary      no     25290.0      no   no   cellular   31   jul        81        12     -1         0  unknown                   no
5021    56     management  divorced   tertiary      no     66721.0      no   no   cellular    8   aug       442         2     -1         0  unknown                   no
5551    55     management   married   tertiary      no     23189.0     yes   no    unknown   14   may        77         1     -1         0  unknown                   no
5867    55   entrepreneur   married   tertiary      no     41923.0      no   no   cellular    6   aug        69         3     -1         0  unknown                   no
5950    55     management    single   tertiary      no     43074.0     yes   no   cellular   25   aug        92         6     -1         0  unknown                   no
6028    55     management  divorced   tertiary      no     29484.0      no   no   cellular   20   nov       151         2     -1         0  unknown                   no
6207    55     management   married   tertiary      no     39098.0      no   no   cellular   27   may       236         3     -1         0  unknown                   no
6213    55   entrepreneur   married  secondary      no     27624.0      no   no  telephone    3   jun       437         1     -1         0  unknown                  yes
6288    55     management  divorced   tertiary      no     26306.0     yes   no   cellular   23   sep        84         1    589         4  failure                   no
6329    54     management  divorced   tertiary      no     26306.0     yes   no   cellular   11   feb        27         1     84         3  failure                   no
6442    54     management  divorced   tertiary      no     29887.0     yes   no    unknown   16   may       865         1     -1         0  unknown                   no
6899    54     management   married   tertiary      no     37176.0      no   no   cellular   21   nov       206         1     -1         0  unknown                   no
7221    53   entrepreneur   married   tertiary      no     22370.0     yes   no    unknown   15   may       106         1     -1         0  unknown                   no
7538    53    blue-collar   married  secondary      no     21522.0      no   no    unknown   24   jun       146         4     -1         0  unknown                   no
7837    53     management  divorced   tertiary      no     26306.0     yes   no   cellular   19   nov        67         3     -1         0  unknown                   no
7846    53     management   married   tertiary      no     32464.0      no   no   cellular   19   nov       135         4     -1         0  unknown                   no
7853    53    blue-collar   married  secondary      no     21522.0      no   no   cellular   20   nov        83         3    149         4  failure                   no
8029    53     management   married   tertiary      no     34230.0     yes  yes   cellular    7   may       279         1    358         9    other                   no
8369    52     technician   married  secondary      no     22755.0     yes   no    unknown   29   may        70         2     -1         0  unknown                   no
8716    52    blue-collar   married    primary      no     66653.0      no   no   cellular   14   aug       109         3     -1         0  unknown                   no
9034    52     management   married   tertiary      no     23552.0     yes   no   cellular   12   may       507         1     -1         0  unknown                   no
9431    51     management   married   tertiary      no     21574.0      no   no    unknown    6   jun       197         3     -1         0  unknown                   no
9625    51     management   married   tertiary      no     22557.0     yes   no  telephone   23   jul        71         3     -1         0  unknown                   no
9763    51     management   married   tertiary      no     25856.0      no   no   cellular   14   aug       129         2     -1         0  unknown                   no
9834    51    blue-collar   married    primary      no     21614.0      no   no   cellular   29   aug        47        20     -1         0  unknown                   no
9930    51   entrepreneur   married   tertiary      no     36935.0     yes   no   cellular   21   nov        41         1     -1         0  unknown                   no
10116   51     management    single   tertiary      no    102127.0      no   no   cellular    3   jun        90         1     -1         0  unknown                   no
10244   50       services   married  secondary      no     26394.0      no   no   cellular   25   aug       206         4     -1         0  unknown                   no
10951   50       services   married  secondary      no     57435.0     yes   no   cellular   21   nov       319         3     -1         0  unknown                   no
10953   50     unemployed   married  secondary      no     36221.0      no   no   cellular   21   nov        13         2     -1         0  unknown                   no

In [20]:
bank_df['outlier_bal']= np.where(bank_df['balance']> (bank_df['balance'].mean()+(bank_df['balance'].std()*3)), True,False)
bank_df=bank_df.drop(bank_df[bank_df['outlier_bal']==True].index)

In [21]:
bank_df.to_csv('csv_export4.csv')