In [1]:
import pandas as pd

In [6]:
bank_df = pd.read_excel("bank_deposit.xlsx")
bank_df.head(20)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Bank deposit(target)
0,95,retired,divorced,primary,no,2282.0,no,no,telephone,21.0,apr,207.0,17.0,-1.0,0.0,unknown,yes
1,95,retired,married,secondary,no,0.0,no,no,telephone,1.0,oct,215.0,1.0,-1.0,0.0,unknown,no
2,94,retired,divorced,secondary,no,1234.0,no,no,cellular,3.0,mar,212.0,1.0,-1.0,0.0,unknown,no
3,93,retired,married,unknown,no,775.0,no,no,cellular,22.0,jul,860.0,2.0,177.0,7.0,success,yes
4,93,retired,married,unknown,no,775.0,no,no,cellular,4.0,aug,476.0,2.0,13.0,9.0,success,yes
5,92,retired,married,unknown,no,775.0,no,no,cellular,22.0,oct,313.0,3.0,-1.0,0.0,unknown,yes
6,92,retired,married,unknown,no,775.0,no,no,cellular,26.0,jan,164.0,4.0,96.0,3.0,success,yes
7,90,retired,divorced,secondary,no,1.0,no,no,cellular,13.0,feb,152.0,3.0,-1.0,0.0,unknown,yes
8,90,retired,divorced,primary,no,712.0,no,no,telephone,3.0,mar,557.0,1.0,-1.0,0.0,unknown,yes
9,89,retired,married,tertiary,no,553.0,no,no,telephone,19.0,aug,2027.0,5.0,-1.0,0.0,unknown,no
10,89,retired,divorced,primary,no,1323.0,no,no,telephone,29.0,dec,207.0,4.0,189.0,1.0,other,no
11,89,retired,married,primary,no,0.0,no,no,telephone,27.0,sep,157.0,5.0,-1.0,0.0,unknown,no
12,88,retired,married,primary,no,648.0,no,no,telephone,3.0,sep,318.0,1.0,-1.0,0.0,unknown,no
13,88,retired,married,secondary,no,433.0,no,no,telephone,15.0,sep,161.0,1.0,274.0,1.0,failure,no
14,87,retired,married,primary,no,230.0,no,no,cellular,30.0,oct,144.0,1.0,-1.0,0.0,unknown,yes
15,87,retired,divorced,primary,no,6746.0,no,no,telephone,21.0,oct,749.0,1.0,-1.0,0.0,unknown,yes
16,87,retired,married,primary,no,230.0,no,no,cellular,30.0,oct,144.0,1.0,-1.0,0.0,unknown,yes
17,87,retired,married,secondary,no,1000000.0,no,no,telephone,15.0,dec,150.0,1.0,-1.0,0.0,unknown,no
18,87,retired,married,primary,no,2190.0,no,no,telephone,12.0,jan,512.0,2.0,-1.0,0.0,unknown,yes
19,86,retired,married,secondary,no,1503.0,no,no,telephone,18.0,mar,165.0,3.0,101.0,1.0,other,no